# Approved organization code and controlled registry.
org_code           = "se"
organization_codes = ["se"]

purpose_codes    = ["connect", "firewall", "tfstate"]
region_code      = "eus2"
environment_code = "prd"
instance         = 1
