resource_group_name  = "replace-with-state-resource-group"
storage_account_name = "replacewithstateaccount"
container_name       = "tfstate"
key                  = "advocate/management-groups.tfstate"
use_oidc             = true
use_azuread_auth     = true
